@import "../helpers/helpers.scss";
.AnimatedSlider {
	overflow: hidden;

	div {
		@extend %f_r_aj_center;

		gap: 20px;
		margin: 1%;
	}
}
.Slide_div1 {
	gap: 10px;
	display: flex;

	animation: LinearEffect 10s linear infinite;
}
.Slide_div2 {
	gap: 10px;
	display: flex;

	animation: LinearEffectRight 10s linear infinite;
}

@keyframes LinearEffect {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
@keyframes LinearEffectRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}
