@import "../helpers/helpers.scss";

.main_footer {
	border: 1px solid rgba(0, 0, 0, 0.308);

	display: grid;
	grid-template-columns: auto auto auto;

	p {
		font-size: 16px;
	}
	div {
		padding: 1%;
		@extend %f_r_aj_center;
	}
	.logoContainer {
		gap: 15px;
		border-right: 1px solid rgba(128, 128, 128, 0.322);
		border-left: 1px solid rgba(128, 128, 128, 0.295);
	}
}
