@import "../helpers/helpers.scss";

.main_footer {
	// height: 100px;
	@extend %f_r_aj_center;
	justify-content: space-between;

	p {
		font-size: 16px;
	}
	div {
		@extend %d_flex;
		justify-content: center;
	}
}
.gap {
	gap: 10px;
	width: 30px;
	height: 30px !important;
	min-height: auto;
	align-items: center;
}
