@import "../helpers/helpers.scss";

.main_footer {
	border: 1px solid;

	display: grid;
	grid-template-columns: auto auto auto;

	p {
		font-size: 16px;
	}
	div {
		@extend %d_flex;
		justify-content: center;
	}
	.logoContainer {
		gap: 15px;
		border-right: 1px solid grey;
		border-left: 1px solid grey;
	}
}
