@import "../helpers/helpers.scss";

.GlobalSpanning {
	@extend %relative_box;

	.BackGroundWorld {
		@extend %d_flex;
		justify-content: center;
	}
	div:nth-child(3) {
		display: flex;
		gap: 10px;
	}
}
.justifycenter {
	@extend %rel_xy_center;
}
.lineOneh1 {
	font-size: 80px;
	text-align: center;
	// position: absolute;
	top: 0;
}
