.inner_banner_wrap {
	// @extend %relative_box;
	height: 100vh;
	padding: 20px;
	margin: 10px 0px 100px 0px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: auto;

	.banner_image_wrapper {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.banner_image {
		display: grid;
		width: 100%;
		height: 100%;
		justify-items: center;

		img {
			object-fit: cover;
			border-radius: 30px;
			// width: 100%;
			// height: 100%;
			// transition: transform 0.5s ease;
		}
	}

	.banner_content {
		// @extend %full_overlay;
	}
}

.zoom_element {
	background-color: #4caf50;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	border-radius: 50%;
	transform: scale(1);
}

.animation {
	transform: scale(1.5);
}
