@import "../helpers/helpers.scss";
.QuoteBox {
	// margin: 10px;
	// Carousel.module.scss
	text-align: center;
	margin: 2%;
	.slick-slide {
		padding: 10px;
		background-color: #f5f5f5;
		border-radius: 10px;
	}

	.slick-dots {
		li {
			&.slick-active button {
				background-color: red;
			}

			button {
				background-color: blue;
			}
		}
	}
}


.Slider {
	@extend %f_r_aj_center;
}
.slick-slide {
	overflow: hidden;
	border-radius: 15px;
	background-color: #f2f2f2; 
	padding: 10px;
}
.Flex {
	.slick-slider .slick-track,
	.slick-slider .slick-list {
		transform: translate3d(0, 0, 0);
		display: flex;
		gap: 10px;
	}
	border: 2px solid var(--color_border);
	padding: 30px;
	border-radius: 20px;
	margin: 20px;
	@extend %d_flex;
	justify-content: space-around;
	gap: 20px;
	div {
		text-align: left;
		@extend %d_flex;
		padding: 15px 0;
		align-items: center;
		justify-content: space-between;
		.flexClm {
			align-items: baseline;
			@extend %f_d_column;
		}
	}
}
// .QuotesSliderContainer {
// 	width: 100%;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	padding: 150px;
// 	overflow: hidden;
// 	div {
// 		gap: 20px;
// 	}
// 	div:nth-child(2) {
// 		display: flex;
// 	}

// 	button {
// 		height: 1px;
// 		width: 30px;
// 	}
// 	button:active,
// 	button:hover {
// 		background-color: var(--color_primary);
// 	}
// }
// .buttonDivQuotesBox {
// 	margin: 10px;
// 	display: flex;
// 	gap: 3px;
// }
// .QuotesSliderContainer {
// }

// .slider {
// 	img {
// 		z-index: 4;
// 	}
// }

// .QuotesSliderContainer {
// 	width: 100%;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	padding: 150px;
// 	overflow: hidden;
// 	div {
// 		gap: 20px;
// 	}
// 	div:nth-child(2) {
// 		display: flex;
// 	}

// 	button {
// 		height: 1px;
// 		width: 30px;
// 	}
// 	button:active,
// 	button:hover {
// 		background-color: var(--color_primary);
// 	}
// }
// .buttonDivQuotesBox {
// 	margin: 10px;
// 	display: flex;
// 	gap: 3px;
// }
// .QuotesSliderContainer {
// }

// .slider {
// 	img {
// 		z-index: 4;
// 	}
// }
