@import "../helpers/helpers.scss";
.RowTwoContainer {
	// margin: 50px auto;
	margin: 5% auto;
	line-height: 1.3;

	.break {
		@include xl-down {
			display: none;
		}
	}
	.RowTwo {
		// width: 60%;
		gap: 20px;
		margin: 0 auto;
		font-weight: 100;
		@extend %f_r_a_center;
	}
	.R2wrapper {
		width: 80%;
		margin: 0 auto;
	}
}
