@import "../helpers/helpers.scss";

.ScrollEffect {
	display: flex;
	justify-content: space-around;
	align-items: center;

	h1 {
		font-size: 64px !important;
		font-weight: bold;
		opacity: 0.5;
	}
}
.PrimaryColor {
	color: var(--color_primary) !important ;
	opacity: 1 !important;
}
