@import "../helpers/helpers.scss";

.ScrollEffectTitle {
	height: fit-content;
	.Wrapper {
		position: relative;
		display: flex;
		// align-items: center;
		/* overflow: hidden; */
		height: 200px;
		justify-content: space-between;

		.ImageContent {
			visibility: hidden;
			img {
				width: 40%;
				height: 500px;
				position: absolute;
				visibility: hidden;
			}
		}
		.Active {
			img {
				width: 40%;
				height: 500px;
				// position: absolute;
				visibility: hidden;
			}
		}
		.TextDiv {
			height: 100px;
			width: 40%;
		}

		.imgContentActive {
			z-index: 5;
		}
	}
}
