@import "../helpers/helpers.scss";

.ScrollEffectTitle {
	.Wrapper {
		display: flex;
		align-items: center;
		overflow: hidden;
		justify-content: space-between;
		.ImageContent {
			img {
				width: 40%;
				height: 500px;
				position: absolute;
				visibility: hidden;
			}
		}
		.Active {
			img {
				width: 40%;
				height: 500px;
				position: absolute;
				visibility: hidden;
			}
		}
		.TextDiv {
			height: 10%;
			width: 40%;
		}

		
	}
}
