@import "../helpers/helpers.scss";

.ValueRowTwoContainer {
	.LineOne {
		display: flex;
		justify-content: space-between;
		// padding: 10px 10px 20px 30px;
		div {
			display: flex;
			gap: 10px;
		}
	}

	div:nth-child(1) {
		button {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: transparent;
			border: 2px solid black;
			
		}
		button:active {
			background-color: var(--color_primary);
		}
	}
}
.ValueImg {
	width: 100%;

	justify-content: space-around;
	display: flex;
	border: 1px solid;
	div {
		justify-content: center;
		align-items: center;
		padding: 100px;
		display: flex;
		width: 100%;

		border: 1px solid black;
	}
}
