@import "../helpers/helpers.scss";
.ValueImg {
	border: 1px solid black;
}
.container {
	height: 400px;
	position: relative;
}
.OverlapImg {
	position: absolute !important;
	bottom: 0;

	right: 15% !important;
	width: 204px;
	transform: translate(10px, 40%);
	height: 277px;
}
.ValueText {
	height: 50%;
	@extend %d_flex;
	justify-content: center;
	align-items: center;
	padding: 2%;
}
