@import "../helpers/helpers.scss";

.ValueRowTwoContainer {
	.LineOne {
		display: flex;
		justify-content: space-between;
		padding: 0px 10px 0 30px;
	}
}
.ValueImg {
	width: 100%;

	justify-content: space-around;
	display: flex;
	border: 1px solid;
	div {
		justify-content: center;
		align-items: center;
		padding: 100px;
		display: flex;
		width: 100%;

		border: 1px solid black;
	}
}
